@import '../../Helpers/assets/style.scss';

.BlockMainSearch{
    input[type="text"], button[type="button"] {
        width: 100%;
        font-family: Arial,sans-serif;
        font: 16px/32px arial,sans-serif;
    }
    
    input {
        height: 32px;
        outline: none;
        padding-left: 10px;
        border-right: 0px;
    }

    button{
        height: 36px;
        font-family: Arial,sans-serif;
        font: 16px/32px arial,sans-serif;
        outline: none;
    }

    &__clear-icon{
        background-image: url('https://yastatic.net/web4/_/UJ8aDU571EM25yzOzuK55M_i9b8.svg');   
        background-repeat: no-repeat; /*Убираем повтор изображения*/
        background-position: -95px 0;
        height: 32px;
        opacity: .17;
        display: none;
        cursor: default;
    }

    &__clear-icon:hover{
        opacity: .9;
    }

    &__clear-icon--open{
        @extend .BlockMainSearch__clear-icon;
        display: block;
        -webkit-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
        cursor: pointer;
    }

    &__clear-icon--close{
        @extend .BlockMainSearch__clear-icon;
        display: none;
        -webkit-transition: opacity .1s ease-out;
        transition: opacity .1s ease-out;
        cursor: default;
    }

    &__triangle-right {
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 11px solid $color-yellow;
    }

    &__search-container{
        min-width: 460px;
    }

    &__input-container{
        height: 36px;
    }

    &__suggestion-container{
        margin-top: 10px;
        margin-left: -15px;
        margin-right: -10px;
    }

    &__suggestion-item{
        height: 100%;
        padding-left: 15px;
        font-family: Arial,sans-serif;
        font: 19px/40px arial,sans-serif;
        border-radius: 3px;
        cursor: pointer;

        &:hover{
            background-color: $color-suggest;
        }
    }

    li.react-autosuggest__suggestion {
        list-style-type: none; /* Убираем маркеры */
    }
    ul.react-autosuggest__suggestions-list {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    
    .border-yellow{
        border-style: solid;
        border-color: $color-yellow;
        border-width: 2px;
    }

}
